@model Bira.Providers.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Editar" + Model.Name;
}

<h4 style="padding-top: 30px">@ViewData["Title"] </h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="@(new SelectList(Model.Providers, "Id", "Name", Model.ProviderId))">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Imagem Atual</label><br />
                <img src="~/images/@Model.Image" alt="@Model.Image" style="width: 70px; height: 100px" />
            </div>

            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImageUpload" asp-for="ImageUpload">
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImageUpload"></label>
                    <label style="display: none" id="img_name"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
            $("#ImageUpload").change(function() {
                $("#img_name").text(this.files[0].name);
                $("#img_name")[0].style.display = 'block';
            });
        </script>
    }
