@model IEnumerable<Bira.Providers.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<vc:Summary></vc:Summary>

<p supress-by-claim-name="Product" supress-by-claim-value="Add">
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListProducts" />